@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <OnInitializedDemo></OnInitializedDemo> *@
@* <ParentComp></ParentComp> *@

@* <OnAfterRenderDEmo></OnAfterRenderDEmo> *@

<FullLifeCycle></FullLifeCycle>
