<h3>DataBindingDemo</h3>
<span>@message</span>
<h4>@title</h4>

@code {
    string message = "Hello, Blazor!";
    string title = "Data Binding Example";
}


@* One way Data Binding using @variable name
data is passed from code block to html markup



*@