@page "/learner-validated"


<div class="container mt-4">
    <div class="card shadow p-4 mb-4">
        <div class="row">

            <EditForm Model="newlearner" OnValidSubmit="AddLearner">

                <DataAnnotationsValidator />
                <ValidationSummary />

            <div class="col-md-4 mb-3">
                <label class="form-label">Name</label>
                <InputText class="form-control" placeholder="Enter Learnersname" @bind-Value="newlearner.Name" />
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Stream</label>
                <InputText class="form-control" placeholder="Enter Technology" @bind-Value="newlearner.Stream" />
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Organization</label>
                <InputText class="form-control" placeholder="Enter Orgname" @bind-Value="newlearner.Organization" />
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Score</label>
                <InputNumber class="form-control" placeholder="Enter Score" @bind-Value="newlearner.Score" />
            </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label">Gender</label>
                    <InputSelect class="form-select" @bind-Value="newlearner.Gender">
                        <option value="">--Select Gender--</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </InputSelect>
                </div>

                <button type="submit" class="btn btn-success">
                    @buutontext
                </button>
            </EditForm>
        </div>

       
        
    </div>
</div>


<div class="d-flex flex-wrap gap-3">
    @foreach (var learner in learners)
    {

        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <span class="material-icons text-primary action-icon" style="cursor:pointer" @onclick="() => EditLearner(learner)">
                    edit
                </span>
                <span class="material-icons text-danger action-icon float-end" style="cursor:pointer"
                      @onclick="() => DeleteLearner(learner)">
                    delete
                </span>

                <h3>@learner.Name</h3>
                <p class="card-text">
                    <strong>Stream : </strong> @learner.Stream
                    <strong>Organization : </strong> @learner.Organization
                    <strong>Score : </strong> @learner.Score
                </p>
            </div>
        </div>
    }
</div>


@code {

    Learner newlearner = new(); // target -typed new expression (C# 9.0 feature)
    List<Learner> learners = new();

    bool isEditMode = false;
    Learner? learnerToEdit;

    string buutontext => isEditMode ? "Update Learner" : "Save Learner";

    void AddLearner()
    {

        if (isEditMode && learnerToEdit != null)
        {
            learnerToEdit.Name = newlearner.Name;
            learnerToEdit.Stream = newlearner.Stream;
            learnerToEdit.Organization = newlearner.Organization;
            learnerToEdit.Score = newlearner.Score;
            isEditMode = false;
            learnerToEdit = null;
            newlearner = new Learner();

        }
        else
        {
            // learners.Add(newlearner);
            learners.Add(new Learner
            {
                Name = newlearner.Name,
                Stream = newlearner.Stream,
                Organization = newlearner.Organization,
                Score = newlearner.Score
            });
        }

        // foreach(var learner in learners)
        // {
        //     Console.WriteLine($"Name: {learner.Name}, Stream: {learner.Stream}, Organization: {learner.Organization}, Score: {learner.Score}");
        // }
        newlearner = new Learner();
    }

    void DeleteLearner(Learner learner)
    {
        learners.Remove(learner);

    }

    void EditLearner(Learner learner)
    {
        newlearner = new Learner
        {
            Name = learner.Name,
            Stream = learner.Stream,
            Organization = learner.Organization,
            Score = learner.Score
        };

        isEditMode = true;
        learnerToEdit = learner;
    }

    class Learner
    {
        [Required(ErrorMessage = "Name is required")]
        public string? Name { get; set; } = "";
        [Required(ErrorMessage = "Stream is required")]
        public string? Stream { get; set; } = "";
        [Required(ErrorMessage = "Organization is required")]
        public string? Organization { get; set; } = "";

        [Required(ErrorMessage = "Score is required")]
        [Range(35, 100, ErrorMessage = "Score must be between 35 and 100")]
        public int Score { get; set; } 
        [Required(ErrorMessage = "Gender is required")]
        public string Gender { get; set; } = "";
    }

}
